/deep/ .stepperdiv{

}

/deep/ .example-full-width {
  width: 100%;
}

/deep/ .backToAdmin {
  background-color: purple;
  color: #fff !important;
}

/deep/ .save {
  background-color: green;
  color: #fff !important;
}

agm-map{
	height: 200px;
}
