.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-form-field-infix{
	padding: 0 0 0 0 !important;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.example-container .mat-radio-button {
  margin: 0 5px;
}

.property_counts input{
  width:100px;
  margin-right:10px;
}

agm-map{
	height: 200px;
}
